.landing {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.landing__desc {
  width: 75%;
  font-size: 1.3rem;
  margin: 1rem auto;
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__img {
  height: 200px;
}
